/* Add a background color to the header element */
header {background-color: powderblue;}
/* Add a fun background color to the main element */
main {background-color: blue;}
/* Align the h1 containing your name in the center of the header*/
h1 {text-align: center;}
/* Make your p tag a different color and italic */
p {
    font-style: italic;
    color: red;
}
/* Put a border around your image */
img {
    border: 2px solid black;
    max-width: 100%;
    max-height: 100%;
}
/* Change the font-family of your list */
li {font-family: 'Times New Roman', Times, serif;}
/* Add a background color to the footer element */
footer {background-color: white;}